<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>

  <% if user_signed_in? && current_user.id == @recipe.user_id %>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <% end %>
  <% if user_signed_in? && current_user.id == @recipe.user_id %>
    <%= link_to "Add ingredient", new_food_path(recipe_id: @recipe.id) %> |
  <% end %>
  <%= link_to "Back to recipes", recipes_path %>

  <% if user_signed_in? && current_user.id == @recipe.user_id %>
    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  <% end %>



  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="text-center">
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <% if current_user && current_user.id == @recipe.user_id %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @recipe.recipe_foods.length === 0 %>
        <tr class="text-center fw-bold">
          <td colspan="4">No ingredients found</td>
        </tr>
        <% else %>
          <% @recipe.recipe_foods.each do |ing| %>
            <tr class="text-center">
              <td><%= ing.food.name %></td>
              <td><%= ing.quantity %> <%= ing.food.measurement_unit %></td>
              <td><%= ing.food.price * ing.quantity %></td>
              <% if current_user && current_user.id == @recipe.user_id %>
                <td class="d-flex gap-3 justify-content-center">
                  <%= link_to "Modify", edit_recipe_food_path(ing), class: 'btn btn-primary'%>
                  <%= button_to "Delete", ing, method: :delete, class: 'btn btn-danger'%>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
